*
    margin: 0
    padding: 0
    box-sizing: border-box

$page-width: 60rem

body
    font-family: 'Roboto', sans-serif
    background: #eee

main
    max-width: $page-width
    margin: 0 auto
    padding: 1rem
